#P4V
p4ignore.txt

#============================================
#TGE-Dev/
#============================================
TGE-Dev/**.cso
TGE-Dev/**.obj
TGE-Dev/Local/

TGE-Dev/Bin/*.exe
TGE-Dev/Bin/*.pdb
TGE-Dev/Bin/*.ilk
TGE-Dev/Bin/Settings
TGE-Dev/Bin/*.dll
TGE-Dev/Bin/*_Debug*
TGE-Dev/Bin/*_Release*
TGE-Dev/Bin/*_Retail*

TGE-Dev/Bin/settings/

TGE-Dev/Makefile

TGE-Dev/Temp/
TGE-Dev/*.sln
TGE-Dev/.vs

TGE-Dev/Lib/*Engine_Debug.*
TGE-Dev/Lib/*Engine_Release.*
TGE-Dev/Lib/*Engine_Retail.*

TGE-Dev/Lib/*External_Debug.*
TGE-Dev/Lib/*External_Release.*
TGE-Dev/Lib/*External_Retail.*

TGE-Dev/Lib/*Game_Debug.*
TGE-Dev/Lib/*Game_Release.*
TGE-Dev/Lib/*Game_Retail.*

#============================================
#TGE-Dev/Source/Game/data/
#============================================
TGE-Dev/Source/Game/data/.vs

#============================================
#UnityEditor/
#============================================
UnityEditor/

#============================================
#ModelViewer/
#============================================
ModelViewer/